@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/table/lib/css/table.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  font-size: small;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}

.desktop-wrapper {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.button-bar {
  float: inline-start;
}

.button-bar-image {
  width: 30px;
  height: 30px;
}

.main-panel {
  flex: 1;
  overflow: auto;
}

.cards-table-wrapper {
  height: 100vh;
}

.set-tree-item {
  display: flex;
  flex-direction: row;
}

.tree-view-image {
  padding-right: 10px;
}

.image-wrapper {
  padding: 5%;
  margin: auto;
}

.mana-cost-image {
  margin-right: 3px;
}

.ruling-line-paragraph {
  /* border-bottom: red; */
  border-bottom-width: thin;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.card-image {
  max-height: 50%;
  max-width: 80%;
  display: block;
  margin: auto;
}

.card-header-wrapper {
  display: flex;
  flex-direction: column;
}

.card-header-line-1 {
  display: flex;
  flex-direction: row;
}

.card-header-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img.rotate-90 {
  transform: rotate(90deg);
}

img.rotate-180 {
  transform: rotate(180deg);
}

.ruling-divider {
  margin-left: 0px;
  margin-right: 0px;
}

.rarity-rare {
  color: gold;
}

.rarity-uncommon {
  color: silver
}

.rarity-mythic {
  color: darkorange;
}

.card-view-section-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set-tree-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-set-tree {
  height: 100vh;
  /* max-width: fit-content; */
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%
}
