@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/table/lib/css/table.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  font-size: small;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}

.bp5-tree {
  max-height: 100vh;
  max-width: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%
}

.desktop-wrapper {
  display: flex;
  flex-direction: row;
}

.button-bar {
  float: inline-start;
}

.main-panel {
  flex: 1;
}

.cards-table-wrapper {
  height: 100vh;
}

.set-tree-item {
  display: flex;
  flex-direction: row;
}

.tree-view-image {
  filter: invert(100%);
  padding-right: 10px;
}

/* svg.tree-view-image path {
  fill: currentColor;
  stroke: currentColor;
} */

.image-wrapper {
  /* display: flex; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block; */
  padding: 5%;
  margin: auto;
  /* height: 100%; */
  /* width: 100%; */
  /* overflow: visible; */
}

.ruling-line-paragraph {
  /* border-bottom: red; */
  border-bottom-width: thin;
  border-bottom-style: solid;
  padding-bottom: 10px;
}
.card-image {
  max-height: 50%;
  max-width: 80%;
  display: block;
  margin: auto;
}

.card-header-wrapper {
  display: flex;
  flex-direction: column;
}

.card-header-line {
    display: flex;
    flex-direction: row;
}

@media (prefers-color-scheme: dark) {

  body,
  .bp5-card,
  .bp5-navbar,
  .bp5-navbar-group,
  .bp5-navbar-group.bp5-button-text {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  body,
  .bp5-card,
  .bp5-navbar,
  .bp5-navbar-divider,
  .bp5-navbar-group,
  .bp5-buttontext {
    background: #ddd;
    color: black;
  }
}
