@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/table/lib/css/table.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "../shared/shared.css";

.desktop-wrapper {
  padding: 0px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.cards-table-wrapper {
  height: 100%;
}
